/*google.fonts dan poppins import edildi*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    /*içerikler dışarı taşmaması için*/
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    display: flex;
    /*dikey ve yatay da ortalama*/
    justify-content: center;
    align-items: center;
    /*ekranın tamamını kaplamak için*/
    min-height: 100vh;
    background-color: rgb(55, 3, 3);
}

.container {
    /*herşeyi içerikten bağımsız esnek hareket ettirebilmek için */
    position: relative;
    background-color: rgb(55, 3, 3);
    min-height: 500px;
    /*köşeleri yuvarlama*/
    border-radius: 20px;
    /*üst kenarları daireye uyarlama*/
    border-top-left-radius: 225px;
    border-top-right-radius: 225px;
    /*gölgelendirme*/
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.75),
        10px 50px 70px rgba(0, 0, 0, 0.25),
        inset 5px 5px 10px rgba(119, 44, 44, 0.25),
        inset 5px 5px 20px rgba(233, 188, 188, 0.2),
        inset -5px -5px 15px rgba(41, 28, 28, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock {
    position: relative;
    width: 450px;
    height: 450px;
    /*daireye çevirme*/
    border-radius: 50%;
    background-color: rgb(55, 3, 3);
    /*gölgelendirme yapma*/
    box-shadow: 10px 50px 70px rgba(0, 0, 0, 0.25),
        inset 5px 5px 10px rgba(119, 44, 44, 0.25),
        inset 5px 5px 20px rgba(233, 188, 188, 0.2),
        inset -5px -5px 15px rgba(41, 28, 28, 0.75);
    /*elemanları rahat yerleştirme için*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

/*merkezdeki delik*/
.clock::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #2f363e;
    border: 3px solid #fff;
    z-index: 4;
}

.clock span {
    position: absolute;
    inset: 20px;
    color: #fff;
    text-align: center;
    /*360/12=30deg*/
    transform: rotate(calc(30deg*var(--i)));

}

/*saatin rakamlarının konum ve görüntü ayarları*/
.clock span b {
    font-size: 1.5em;
    opacity: 0.50;
    font-weight: 600;
    display: inline-block;
    /*rakamların hepsinin düz durmasını sağlar*/
    transform: rotate(calc(-30deg*var(--i)));
}

.circle {
    position: absolute;
    width: 300px;
    height: 300px;
    border: 2px solid rgba(90, 88, 88, 0.25);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.circle i {
    position: absolute;
    width: 6px;
    height: 50%;
    background: var(--clr);
    opacity: 0.75;
    transform-origin: bottom;
    transform: scaleY(0.5);
    z-index: 3;
}

.circle2 {
    width: 240px;
    height: 240px;
    z-index: 2;
}

.circle3 {
    width: 180px;
    height: 180px;
    z-index: 1;
}

.circle:nth-child(1) i {
    width: 2px;
}

.circle:nth-child(2) i {
    width: 6px;
}

/*noktalarımız*/
.circle::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: -8px;
    background-color: var(--clr);
    box-shadow: 0 0 20px var(--clr),
        0 0 60px var(--clr);
}

/*dijital saat style*/
#time {

    margin-bottom: 40px;
    display: flex;
    padding: 10px 20px;
    font-size: 2em;
    font-weight: 600;
    border: 2px solid rgb(119, 44, 44);
    border-radius: 40px;
    box-shadow: 10px 50px 70px rgba(0, 0, 0, 0.25),
        inset 5px 5px 10px rgba(119, 44, 44, 0.25),
        inset 5px 5px 20px rgba(233, 188, 188, 0.2),
        inset -5px -5px 15px rgba(41, 28, 28, 0.75);
}

#time div {
    position: relative;
    width: 60px;
    text-align: center;
    font-weight: 500;
    color: var(--clr);
}

#time div:nth-child(1)::after,
#time div:nth-child(2)::after {
    content: ':';
    position: absolute;
    right: -4px;
}

#time div:last-child {
    font-size: 0.7em;
    display: flex;
    justify-content: center;
    align-items: center;
}
#time2 {

    margin-bottom: 40px;
    display: flex;
    padding: 10px 20px;
    font-size: 2em;
    font-weight: 600;
    border: 2px solid rgb(119, 44, 44);
    border-radius: 40px;
    box-shadow: 10px 50px 70px rgba(0, 0, 0, 0.25),
        inset 5px 5px 10px rgba(119, 44, 44, 0.25),
        inset 5px 5px 20px rgba(233, 188, 188, 0.2),
        inset -5px -5px 15px rgba(41, 28, 28, 0.75);
}
#time2 div {
    font-size: 0.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    font-weight: 400;
    color: var(--clr);
}
#time2 div:nth-child(1)::after,
#time2 div:nth-child(2)::after,
#time2 div:nth-child(3)::after {
    content: ' / ';
}